.add-comment {
    &__border-input {
        position: relative;
        display: flex;
        align-items: center;
        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 0%;
            transition: all 0.2s ease-in-out;
            background-color: #00724e;
        }

        &::after {
            background-color: #b4c0c5;
            width: 100%;
            z-index: 1;
        }

        &::before {
            z-index: 2;
        }

        &:focus-within::before {
            // background-color: red;
            width: 100%;
        }
    }

    input,
    &__textarea {
        border: none;
        outline: none !important;
        background-color: transparent;
    }

    textarea {
        min-height: 40px;
    }

    &__button {
        background-color: #3bd2a2;
        color: #fff;
        width: fit-content;
        cursor: pointer;
        border-radius: 8px;
    }
}
